* {
  box-sizing: border-box;
  position: relative;
  padding: 0px;
  margin: 0px;
}

body {
  background: #3334;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

.container {
  position: relative;
  margin: auto;
  margin-top: 5%;
  width: 840px;
  height: 840px;
}

.row {
  display: flex;
  flex-direction: row;
}

.letter {
  height: 80px;
  width: 80px;
  border-radius: 40%;
  line-height: 80px;
  text-align: center;
  margin: 4px;
  font-size: 22px;
  font-weight: bold;
}

.code {
  width: 80px;
  height: 11px;
  font-size: 10px;
  text-align: center;
  margin: 4px;
}

article {
  margin: 50px 0 15px 0;
  line-height: 1.5em;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  margin-bottom: 25px;
}

tr>td {
  border: 2px solid #fff;
}

td {
  padding: 5px;
  white-space: nowrap;
}

.header {
  width: 175px;
  background: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #333;
  padding: 5px;
  border: 2px solid #fff;
}

.color-0 {
  background-color: #00d5ff;
}

.color-1 {
  background-color: #00abff;
}

.color-2 {
  background-color: #0080ff;
}

.color-3 {
  background-color: #0056ff;
}

.color-4 {
  background-color: #002bff;
}

.color-5 {
  background-color: #0001ff;
}

.color-6 {
  background-color: #2a00ff;
}

.color-7 {
  background-color: #5500ff;
}

/*.color-8 {
  background-color: #7f00ff;
}

.translateX {
  -webkit-transform: translateX(45%);
          transform: translateX(45%);
}

.translateY {
  -webkit-transform: translateY(45%);
          transform: translateY(45%);
}

.translateZ {
  -webkit-transform: translateZ(45%);
          transform: translateZ(45%);
}

.rotateX {
  -webkit-transform: rotateX(45deg);
          transform: rotateX(45deg);
}

.rotateY {
  -webkit-transform: rotateY(45deg);
          transform: rotateY(45deg);
}

.rotateZ {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.skewX {
  -webkit-transform: skewX(15deg);
          transform: skewX(15deg);
}

.skewY {
  -webkit-transform: skewY(45deg);
          transform: skewY(45deg);
}

.skew {
  -webkit-transform: skew(15deg, 45deg);
          transform: skew(15deg, 45deg);
}

.scaleX {
  -webkit-transform: scaleX(0.75);
          transform: scaleX(0.75);
}

.scaleY {
  -webkit-transform: scaleY(0.75);
          transform: scaleY(0.75);
}

.scaleZ {
  -webkit-transform: scaleZ(0.75);
          transform: scaleZ(0.75);
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
